deepspeed
transformers==4.29.2
evaluate
pytorch_lightning
omegaconf
lightning
pytorch-lightning-bolts
flask
fire
sentencepiece
protobuf==3.20
accelerate
einops
packaging
flash_attn
tensorboard
bitsandbytes
pytest
scipy